/* CSSTransition classNames */

.divStyle {
  max-height: 0;
}

.layoutSubmenuEnterActive {
  
  max-height: 1000px !important;
  transition: max-height 1s ease-in-out;
}

.layoutSubmenuEnterDone {
  
  max-height: 1000px !important;
  
}

.layoutSubmenuExit {
  
  max-height: 1000px !important;
  
}

.layoutSubmenuExitActive {
  
  overflow: hidden;
  max-height: 0 !important;
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
  
}
